<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/agility/favicon.ico" type="image/x-icon">
    <title><%= htmlWebpackPlugin %></title>
</head>

<body ng-cloak>
<section>
    <header>
        <h1><%= appName %></h1>
        <p><%= appDescription %></p>
    </header>

    <main>
        <section ui-view="perspective"></section>
    </main>

</section>
</body>
</html>
