<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <% if (materialize) { %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <% } %>
    <title><%= htmlWebpackPlugin %></title>
</head>

<body layout="column" ng-cloak>
    <% if (materialize) { %>
    <section ui-view="perspective" layout-fill flex></section>
    <% }  else { %>
    <section ui-view="perspective"></section>
    <% } %>
</body>
</html>
