<% if (materialize) { %>
<md-toolbar>
    <div class="md-toolbar-tools">
        <span><%= appName %></span>
        <md-button ng-click="ctrl.close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
            <i class="material-icons">more_vert</i>
        </md-button>
    </div>
</md-toolbar>

<section layout="row" layout-fill flex>
    <md-sidenav
            layout="column"
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding>
            <p hide show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
            </p>
        </md-content>
    </md-sidenav>


    <md-content flex layout-padding>
        <p><%= appDescription %></p>
    </md-content>

</section>

<% }  else { %>

<header>
    <h1><%= appName %></h1>
</header>

<main>
    <p><%= appDescription %></p>
</main>
<% } %>