//Color names come from http://chir.ag/projects/name-that-color/
$christi: #6ba00a;
$limeade: #568c09;
$tart_green: #5F8F09;
$olivine: #a7c379;
$tropical_blue: #bddff5;
$half_baked: #78b0cd;
$pelorous: #3d98c8;
$picton_blue: #47ade2;
$jelly_bean: #2378a4;
$blue_chill: #0B6DA1;
$denim: #0d7ab3;
$guardsman_red: #e60b1f;
$bootstrap-error-red: #b94a48 ;
$buttercup: #f2a602;
$puerto_rico: #3fc3a2;
$white: #ffffff;
$offwhite: #f8f8f8;
$porcelain: #eeeeee;
$iron: #e4e6e8;
$bombay: #aeafb1;
$concrete: #f3f3f3;
$wild_sand: #f5f5f5;
$mid_gray: #aaabac;
$raven: #757c86;
$silver: #dbdbdb;
$shuttle_gray: #595e66;
$nevada: #656b73;
$dark_shuttle: #575c63;
$bad_gray: #666666;
$light_gray: #999999;
$body_gray: #333333;
$storm: #b3b2b2;
$dark_chateau: #a4a8ad;
$mako: #434951;
$black: #000000;
$transparent: transparent;
