@mixin ap-button-variant($top_bkgd, $btm_bkgd, $text_color, $reverse_bkgd, $down_color, $focus_down, $focus_text, $disabled) {
    background-color: $top_bkgd;
    @include background-image(linear-gradient($top_bkgd, $btm_bkgd));
    color: $text_color;
    &:hover {
        background: $reverse_bkgd;
        color: $white;
    }
    &:active {
        background: $down_color;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
    &:focus {
        background-color: $top_bkgd;
        @include background-image(linear-gradient($top_bkgd, $btm_bkgd));
        color: $white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        outline: none;
    }
    &.active{
        background-color: darken($reverse_bkgd, 10%);
    }
    &[disabled] {
        background: $disabled;
        color: rgba(255, 255, 255,0.5);
        cursor: not-allowed;
    }
}
